assets/save.blend
assets/balaclavas/berd_022_u.ydd.xml
assets/balaclavas/berd_022_u/berd_normal_022.dds
assets/balaclavas/berd_022_u/berd_spec_022.dds
assets/hats/p_head_000.ydd.xml
assets/hats/p_head_000/p_head_diff_000_d.dds
assets/hats/p_head_000/p_head_normal_000.dds
assets/hats/p_head_000/p_head_spec_000.dds
assets/hoodies/jbib_007_u.ydd.xml
assets/hoodies/jbib_008_u.ydd.xml
assets/hoodies/jbib_007_u/jbib_normal_007.dds
assets/hoodies/jbib_007_u/jbib_spec_007.dds
assets/hoodies/jbib_008_u/jbib_normal_008.dds
assets/hoodies/jbib_008_u/jbib_spec_008.dds
assets/t-shirts/jbib_011_u.ydd.xml
assets/t-shirts/jbib_011_u/jbib_normal_011.dds
assets/t-shirts/jbib_011_u/jbib_spec_011.dds
